-- Database schema for SmartHire application
CREATE DATABASE IF NOT EXISTS smarthire;
USE smarthire;

-- Users table
CREATE TABLE users (
    id INT PRIMARY KEY AUTO_INCREMENT,
    firstName VARCHAR(100) NOT NULL,
    lastName VARCHAR(100) NOT NULL,
    email VARCHAR(255) UNIQUE NOT NULL,
    password_hash VARCHAR(255) NOT NULL,
    role ENUM('job_seeker', 'employer', 'admin') DEFAULT 'job_seeker',
    company_id INT NULL,
    phone VARCHAR(20),
    avatar VARCHAR(500),
    is_active BOOLEAN DEFAULT TRUE,
    emailVerified BOOLEAN DEFAULT FALSE,
    lastLogin DATETIME,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    INDEX idx_email (email),
    INDEX idx_role (role),
    INDEX idx_is_active (is_active)
);

-- Companies table
CREATE TABLE companies (
    id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(255) NOT NULL,
    logo_url VARCHAR(500),
    description TEXT,
    website VARCHAR(255),
    location VARCHAR(255),
    email VARCHAR(255),
    phone VARCHAR(20),
    is_verified BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    INDEX idx_name (name),
    INDEX idx_is_verified (is_verified)
);

-- Jobs table
CREATE TABLE jobs (
    id INT PRIMARY KEY AUTO_INCREMENT,
    title VARCHAR(255) NOT NULL,
    description TEXT NOT NULL,
    requirements TEXT,
    salary_min DECIMAL(10, 2),
    salary_max DECIMAL(10, 2),
    location VARCHAR(255),
    job_type ENUM('full-time', 'part-time', 'contract', 'internship', 'remote') DEFAULT 'full-time',
    experience_level ENUM('entry', 'junior', 'mid', 'senior', 'lead') DEFAULT 'entry',
    company_id INT NOT NULL,
    posted_by INT NOT NULL,
    is_active BOOLEAN DEFAULT TRUE,
    is_featured BOOLEAN DEFAULT FALSE,
    deadline DATE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    FOREIGN KEY (company_id) REFERENCES companies(id) ON DELETE CASCADE,
    FOREIGN KEY (posted_by) REFERENCES users(id) ON DELETE CASCADE,
    INDEX idx_job_type (job_type),
    INDEX idx_location (location),
    INDEX idx_is_active (is_active),
    INDEX idx_is_featured (is_featured),
    INDEX idx_company_id (company_id)
);

-- Applications table
CREATE TABLE applications (
    id INT PRIMARY KEY AUTO_INCREMENT,
    job_id INT NOT NULL,
    user_id INT NOT NULL,
    status ENUM('pending', 'reviewed', 'shortlisted', 'rejected', 'hired') DEFAULT 'pending',
    cover_letter TEXT,
    resume_url VARCHAR(500),
    applied_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    FOREIGN KEY (job_id) REFERENCES jobs(id) ON DELETE CASCADE,
    FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE,
    UNIQUE KEY unique_application (job_id, user_id),
    INDEX idx_status (status),
    INDEX idx_applied_at (applied_at)
);

-- Add foreign key for users.company_id after companies table exists
ALTER TABLE users ADD FOREIGN KEY (company_id) REFERENCES companies(id) ON DELETE SET NULL;

-- Insert users (2 employers, 2 job seekers, 1 admin)
INSERT IGNORE INTO users (firstName, lastName, email, password_hash, role, is_active) VALUES
('John', 'Smith', 'john@techcorp.com', '$2a$10$hashedpassword1', 'employer', TRUE),
('Sarah', 'Johnson', 'sarah@designhub.com', '$2a$10$hashedpassword2', 'employer', TRUE),
('Mike', 'Wilson', 'mike@gmail.com', '$2a$10$hashedpassword3', 'job_seeker', TRUE),
('Emma', 'Davis', 'emma@gmail.com', '$2a$10$hashedpassword4', 'job_seeker', TRUE),
('Admin', 'User', 'admin@smarthire.com', '$2a$10$hashedpassword5', 'admin', TRUE);

-- Insert companies

-- Update employers with company_id
UPDATE users SET company_id = 1 WHERE email = 'john@techcorp.com';
UPDATE users SET company_id = 2 WHERE email = 'sarah@designhub.com';

-- Insert jobs

-- Insert applications

-- Verify all tables have data
SELECT 'users' as table_name, COUNT(*) as row_count FROM users
UNION SELECT 'companies', COUNT(*) FROM companies
UNION SELECT 'jobs', COUNT(*) FROM jobs
UNION SELECT 'applications', COUNT(*) FROM applications;