# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log

# Build outputs
dist/

# Editor / IDE files
.vscode/

# OS files
.DS_Store

# Ignore uploaded resume files
server/uploads/resumes/
*.pdf